* {
    margin: 0;
    padding: 0;
}

nav {
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: arial;
}

body {
    background: #163754;
}

nav ul {
    background: #163754;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li p {
    float: left;
}

nav ul li a {
    float: right;
}

nav ul li a:hover {
    background: #EB5B02;
}

nav ul li:hover a {
    color: #000;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}

@font-face {
    font-family: "orange_blossom";
    src: url(OrangeBlossom.ttf);
}

nav ul li p {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-family: 'orange_blossom';
    font-size: 30px;
}

nav ul li .masuk {
    padding: 15px;
    margin-top: 10px;
    background: red;
    border-radius: 20px;
    width: 100px;
}

.genesis {
    position: absolute;
}

.line, .line2, .line3 {
    position: absolute;
    width: 250px;
    border: 1px solid #DA392A;
}

.line {
    top: 330px;
    margin-bottom: 30px;
    width: 250px;
}

.line2 {
    top: -40px;
    right: 30px;
}

.line3 {
    bottom: -40px;
    left: 30px;
}

.hebat {
    color: #DA392A;
    text-decoration: none;
}

.btn-danger:hover {
    color: black;
    background-color: #DA392A;
}

.genesis1 {
    bottom: 23px;
    left: 300px;
    z-index: 0;
}

.genesis2 {
    left: 329px;
    z-index: 1;
}